.tag__item {
  background: #FF6060;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  padding: 0.3rem 2.1rem;
  white-space: nowrap;
}

.tag__item:last-child {
  margin-right: 0;
}

.tag__item-text {
  color: #FFF;
  font-size: 1.4rem;
  margin: 0;
}
