/* Error.css */
.ErrorMessage {
  text-align: center;
  margin: 13rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ErrorMessage_logo {
 width: clamp(20rem, 40vw, 59.7rem);
}

.ErrorMessage_info {
  font-size: clamp(1.8rem, 3vw, 3.6rem);
}

.ErrorMessage_link {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  text-decoration: none;
  margin-top: 5rem;
}

.ErrorMessage_link:hover {
  text-decoration: underline;
}

.ErrorMessage_info,
.ErrorMessage_link {
  color: #ff6060;
  font-weight: 500;
}
