.card {
  border-radius: 1rem;
  height: 34rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card_link {
  color: inherit;
  display: block;
  height: 34rem;
  text-decoration: none;
  width: 100%;
}

.card__img {
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  filter: brightness(70%);
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
  width: 100%;
}

.card:hover .card__img {
  filter: brightness(85%);
}

.card__text {
  border-radius: 1rem 0 0 0;
  bottom: 0;
  color: #fff;
  left: 0;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
}

.card__title {
  font-size: 1.8rem;
  margin: 0;
}

@media (max-width: 576px) {
  .card_link,
  .card {
    width: 100%;
  }
}