.host {
  align-items: center;
  display: flex;
}

.host__img {
  border-radius: 50%;
  height: 64px;
  margin-right: 1rem;
  width: 64px;
}

.host__name {
  color: #FF6060;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 1rem 0 0;
  text-align: right;
  white-space: wrap;
  width: 8.7rem;
}