html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
  margin: 0;
}

main {
  max-width: 126rem;
  margin: 0 auto;
  padding: 0 clamp(1rem, 2vw, 10rem);
  min-height: calc(100vh - 30rem);
}