html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
  margin: 0;
}

main {
  max-width: 126rem;
  margin: 0 auto;
  padding: 0 clamp(1rem, 2vw, 10rem);
}

.cards_grid {
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 2.5rem;
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  max-width: 126rem;
  padding: 5.6rem;
}

.logements {
  margin: 5rem auto;
}

.logements_info {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.logements_info__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logements_title {
  font-size: clamp(1.8rem, 3vw, 3.6rem);
}

.logements_location {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.logements_title,
.logements_location {
  color: #ff6060;
  font-weight: 500;
}

.logements_tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.logements_rate {
  margin: 2.1rem;
}

.logements_collapses {
  display: flex;
  width: 100%;
  margin: 2.4rem 0;
  gap: 7.6rem;
}

.about__content {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {

  .cards_grid {
    background-color: transparent;
    padding: 0;
    gap: 2rem;
  }

  .logements_info {
    flex-direction: column;
    align-items: flex-start;
  }

  .logements_info__right {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }

  .logements_collapses {
    flex-direction: column;
    gap: 2rem;
  }
}